/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {    
    font-family: 'EB Garamond', serif;
    background-color: #67AAF9;
}
     
.btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: #003049;
    color: white;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    html::-webkit-scrollbar {
        width: 10px;
        background: white;
    }
    
    html::-webkit-scrollbar-button {
        display: none;
    }
    
    html::-webkit-scrollbar-thumb {
        background:#E8B130;
        border-radius: 5px;
    }
    
    html::-webkit-scrollbar-track {
        background: white;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #67AAF9;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    z-index: 1;
}

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    header {
        font-size: 1em;
    }
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
    
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
    header {
        font-size: 1.3em;
    }

}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    
        .navbar {
            position: relative;
            color: white;
            margin: 0;
            padding: 0;
            z-index: 9;
        }
        
        .navbar-collapse {
            margin-left: 0;
            background-color: white;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 5vh;
        }
        
        .active a { 
            color: #E8B130 !important;
        }
        
        /*I determined how to customize the navbar toggler using the following two websites:
            https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/
            and
            https://github.com/yui/yuicompressor/issues/274
        */
                  
        .custom-toggler .navbar-toggler {
            position: relative;
        }
    
        #menu-button-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            position: relative;
            margin: 0;
            padding: 0;
            color: #67AAF9 !important;
            background-color: white;
        }
        
        #menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            height: 5vh;
            text-align: center;
            margin: 0;
            padding: 0;
            cursor:pointer;
        }
    
        .navbar-nav {
            background-color: #494850;
            padding: 0;
            width: 100%;
            border: solid white 0.1em;
        }
        
            .nav-item {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                color: #003049;
            }
        
                .nav-item a {
                    color: white;
                    height: 10vh;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-content: center;
                }
        
                .nav-item a:hover {
                    color: #E8B130;
                }
        
            .nav-link {
              color: white;
            }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .nav-item a {
        height: initial;
        display: initial;
        flex-flow: initial;
        justify-content: initial;
        align-content: initial;
    }
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
        
    .navbar-collapse {
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    
    .navbar-collapse {
        z-index: 9;
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }   
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

    main {
        padding-top: 5vh;
        background-color: #67AAF9;
    }

        .experience {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

            .experience * {
                color: #FFFFFF;
                line-height: 1.6em;
            }

            .e-about {
                margin: 10vh 0 0 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
                background-color: hsla(255, 100%, 0%,0.7);
                padding: 0;
                border-radius: 10px 10px 0 0;
            }

                .e-titles {
                    font-size: 2em;
                    color: white;
                    background-color: #494850;
                    border-top: #e8b130 solid 0.1em;
                    border-bottom: #e8b130 solid 0.1em;
                    text-align: center;
                    padding: 1vh;
                }

                .e-co {
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    font-size: 1.7em;
                    color: #FFFFFF;
                }

                .e-time {
                    font-size: 1.1em;
                    color: #e8b130;
                }
              
                    .e-time i {
                        font-size: 1.1em;
                        color: #e8b130;
                    }

                .e-location {
                    font-size: 1.1em;
                    color: #e8b130;
                }

                .e-about ul {
                    font-size: 1.1em;
                    padding: 0;
                }

                .e-about ul li {
                    margin: 5vh 0 5vh 0;
                    list-style-position: inside;
                    list-style-type: none;
                    border-left: solid 2px #e8b130;
                }

        .image_and_link {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            background-color: white;
            padding: 0;
            margin: 0;
            border-radius: 0 0 10px 10px;
        }

            .image_and_link img {
                margin: 1em;
            }

            .image_and_link iframe {
                margin: 1em;
            }

        #scc {
            background-color: white;
            padding: 1em;
            border-radius: 10px;
        }

        #hcc {
            background-color: #22311d;
            padding: 1em;
            border-radius: 10px;
        }

        #unc {
            border-radius: 10px;
            background-color: white;
            padding: 1em;
        }

        #ths {
            border-radius: 10px;
            background-color: black;
            padding: 1em;
        }

        #cssc_pic {
            background-color: white;
            border-radius: 5%;
        }

        #kinesin {
            height: 30vh;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
    .e-about ul {
        font-size: 1.1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .e-about ul li {
        margin: 1vh 0 1vh 0;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    /*-------Experience----------------*/
    
                .experience * {
                    line-height: 1.6em;
                }
    
                    .e-titles {
                        font-size: 2rem;
                        line-height: 2.5em;
                        text-align: center;
                    }
    
                    .e-co {
                        font-size: 1.7rem;
                        text-align: center;
                    }
    
                    .e-time {
                        font-size: 1.3rem;
                        text-align: center;
                    }
                  
                        .e-time i {
                            font-size: 1.3rem;
                            text-align: center;
                        }
    
                    .e-location {
                        font-size: 1.3rem;
                        text-align: center;
                    }
    
        #kinesin {
            height: 50vh;
        }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}