html::-webkit-scrollbar {
    width: 10px;
    background: #313638;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background:#E8B130;
    border-radius: 5px;
}

html::-webkit-scrollbar-track {
    background: #313638;
}

body {    
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    font-family: 'EB Garamond', serif;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #313638;
    color: white;
    font-size: 1em;
}

nav {
    position: relative;
    z-index: 11;
    min-height: 8vh;
    background-color: white;
}

nav ul {
    background-color: #FFFFFF;
}

.active a:link {
    color: #DAA520;
}

.active a:visited {
    color: #DAA520;
}

.active a:hover {
    color: #DAA520;
}

.active a:active {
    color: #DAA520;
}

.custom-toggler .navbar-toggler {
    border-color: rgb(49, 54, 56);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49, 54, 56, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

    .nav-item {
      text-align: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

        .nav-item a {
            font-weight: 500;
            color: #313638;
        }

        .nav-item a:hover {
            color: #DAA520;
        }

    .nav-link {
      font-size: 1.2rem;
      color: #313638;
    }

    .btn {
        height: 2.5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        font-weight: 500;
        border-radius: 15px;
        border: none;
    }

    .btn:link {
        background-color: white;
        color: #DAA520;
        border: 1px solid white;
    }

    .btn:visited {
        background-color: white;
        color: #DAA520;
        border: 1px solid white;
    }

    .btn:hover {
        background-color: #313638;
        color: #DAA520;
        border: 1px solid white;
    }

    .btn:active {
        background-color: white;
        color: #DAA520;
        border: 1px solid white;
    }


    main {
        padding-top: 5vh;
        background-color: #313638;
    }

        /*-------Experience----------------*/

        .experience {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

            .experience * {
                color: #FFFFFF;
                line-height: 1.6em;
            }

            .e-about {
                margin: 3vh 0 3vh 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
            }

                .e-titles {
                    font-size: 2em;
                    color: #DAA520;
                }

                .e-co {
                    font-size: 1.2em;
                    color: #FFFFFF;
                }

                .e-time {
                    font-size: 1.1em;
                    color: #FFFFFF;
                }
              
                    .e-time i {
                        font-size: 1.1em;
                        color: #FFFFFF;
                    }

                .e-location {
                    font-size: 1.1em;
                    color: #FFFFFF;
                }

                .e-about ul {
                    font-size: 1.1em;
                    margin: 1vh 0 1vh 0;
                }

                    li {
                        margin-bottom: 1em;
                    }

        .image_and_link {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            margin: 3vh 0 3vh 0;
        }

        #cssc_pic {
            background-color: white;
        }

        #kinesin {
            height: 30vh;
        }

@media screen and (min-width: 576px) {

    .btn {
        height: 2em;
        font-size: 1.2em;
    }
    
}

@media screen and (min-width: 768px) {

    nav {
        position: fixed !important;
        top: 0;
        left: 0;
    }
    
        .nav-link {
          font-size: 0.9rem;
        }
    
            /*-------Experience----------------*/
    
                .experience * {
                    line-height: 1.6em;
                }
    
                    .e-titles {
                        font-size: 2.5rem;
                        line-height: 2.7em;
                    }
    
                    .e-co {
                        font-size: 1.5rem;
                    }
    
                    .e-time {
                        font-size: 1.5rem;
                    }
                  
                        .e-time i {
                            font-size: 1.5rem;
                        }
    
                    .e-location {
                        font-size: 1.5rem;
                    }
    
                    .e-about ul {
                        font-size: 1.3rem;
                    }
    
        #kinesin {
            height: 50vh;
        }

}

@media screen and (min-width: 992px) {
    
    .nav-link {
      font-size: 1.2rem;
    }
    
}