/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {    
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    font-family: 'EB Garamond', serif;
    background-color: #67AAF9;
}
     
.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    html::-webkit-scrollbar {
        width: 1em;
        background: white;
    }
    
    html::-webkit-scrollbar-button {
        display: none;
    }
    
    html::-webkit-scrollbar-thumb {
        background:#E8B130;
        border-radius: 5px;
    }
    
    html::-webkit-scrollbar-track {
        background: white;
    }
        
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #67AAF9;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 1em;
}

/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    
        .navbar {
            position: relative;
            color: white;
            margin: 0;
            padding: 0;
            z-index: 9;
        }
        
        .navbar-collapse {
            margin-left: 0;
            background-color: white;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 5vh;
        }
        
        .active a { 
            color: #E8B130 !important;
        }
                  
        .custom-toggler .navbar-toggler {
            position: relative;
        }
    
        #menu-button-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            position: relative;
            margin: 0;
            padding: 0;
            color: #67AAF9 !important;
            background-color: white;
        }
        
        #menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            height: 5vh;
            text-align: center;
            margin: 0;
            padding: 0;
            cursor:pointer;
        }
    
        .navbar-nav {
            background-color: #494850;
            padding: 0;
            width: 100%;
            border: solid white 0.1em;
        }
        
            .nav-item {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                color: #003049;
            }
        
                .nav-item a {
                    color: white;
                    height: 10vh;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-content: center;
                    font-size: 1.5em;
                }
        
                .nav-item a:hover {
                    color: #E8B130;
                }
        
            .nav-link {
              color: white;
            }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .nav-item a {
        height: initial;
        display: initial;
        flex-flow: initial;
        justify-content: initial;
        align-content: initial;
    }
    
    .navbar-nav {
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    
    .navbar-collapse {
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }

    .navbar-nav {
        background-color: #494850;
        height: 4em;
        border-bottom: solid #e8b130 0.1em;
    }
    
        .nav-item {
            max-width: 18ch;
        }

            .nav-item a {
                font-size: 1em;
            }
}

/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    
    .navbar-collapse {
        z-index: 9;
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }   
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

main {
    padding-top: 4em;
    background-color: #67AAF9;
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
}

    .experience {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

        .experience * {
            color: #FFFFFF;
            line-height: 1.6em;
        }

        .job {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 0 0 1em 0;
            color: white;
            background-color: #494850;
            text-align: center;
            font-size: 1.5em;
            border: solid #e8b130 0.5em;
        }

            .e-titles {
                margin: 0 0 0.5em 0;
                padding: 1em 0;
                background-color: white;
                border-bottom: solid 0.1em white;
                color: black;
            }

            .e-co {
                font-size: 1em;
                margin: 0;
                padding: 0.2em 0;
            }

            .e-time {
                font-size: 1em;
                margin: 0;
                padding: 0.2em 0;
            }

            .e-location {
                font-size: 1em;
                margin: 0;
                padding: 0.2em 0;
            }

        .e-about {
            margin: 0 0 1em 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            padding: 0;
            color: white;
        }

            .e-about ul {
                font-size: 1.1em;
                padding: 0;
            }

            .e-about ul li {
                margin: 1em 0 1em 0;
                padding: 1em;
                list-style-position: inside;
                list-style-type: none;
                border-left: dashed 0.5ch #e8b130;
                color: white;
                background-color: hsla(255, 100%, 0%,0.3);
            }

    .image_and_link {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        padding: 0;
        margin: 1em 0 0 0;
    }

        .image_and_link img {
            margin: 1em 0;
        }

    #duke_eye_center {
        background-color: white;
    }

    #saw_photo {
        background-color: black;
        padding: 2em 0.5em;
    }

    .wcent {
        padding: 0;
    }

    #wfps {
        background-color: black;
    }

    #mea {
        background-color: white;
        padding: 3em 0.5em;
    }

    #dtat {
        background-color: black;
        padding: 2em 0.5em;
    }

    #orgopm {
        background-color: white;
        padding: 0;
    }

    #cssc_pic {
        background-color: white;
        border-radius: 3em;
    }