/*WORKFLOW ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    1. BIG IDEA CONCEPT
    2. AUDIENCE TO TARGET
    3. RESEARCH
    4. UI DESIGN IDEAS
        > COLOR PALETTE & TYPOGRAPHY
            #003049 #E8B130 #FFFFFF
            > COLOR BLINDNESS
        > MOBILE-FIRST DESIGN
    5. DESIGN PROCESS
        A. GENERAL SETTINGS
            a. MOBILE -> ENORMOUS
        B. HEADER
            a. MOBILE -> ENORMOUS
        C. FOOTER
            a. MOBILE -> ENORMOUS
        D. MAIN
            a. MOBILE -> ENORMOUS
    6. SHOW PEOPLE. TAKE NOTES.
    7. IMPLEMENT WHAT YOU LEARNED
    8. ADD NEW IDEAS
?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    html::-webkit-scrollbar {
        width: 10px;
        background: #003049;
    }

    html::-webkit-scrollbar-button {
        display: none;
    }

    html::-webkit-scrollbar-thumb {
        background:#E8B130;
        border-radius: 5px;
    }

    html::-webkit-scrollbar-track {
        background: #003049;
    }

    body {    
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10 */
        /* Currently not supported in Opera but will be soon */
        -o-user-select: none;
        user-select: none;
        font-family: 'EB Garamond', serif;
    }

    .btn {
        height: 2.5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        font-weight: 500;
        border-radius: 15px;
        border: none;
        font-size: 1.2em;
        font-style: italic;
    }

    .btn:link {
        background-color: white;
        color: #003049;
        border: 1px solid white;
    }

    .btn:visited {
        background-color: white;
        color: #003049;
        border: 1px solid white;
    }

    .btn:hover {
        background-color: white;
        color: #DAA520;
        border: 1px solid white;
    }

    .btn:active {
        background-color: white;
        color: #003049;
        border: 1px solid white;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .btn {
        height: 2em;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        color: #003049;
        font-size: 1em;
        position: fixed;
        width: 100%;
        z-index: 9;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    
.navbar {
    position: relative;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar-collapse {
    margin-left: 0;
    background-color: white;
    border-radius: 0 0 30px 30px;
    z-index: 9;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5vh;
}

.active a { 
    color: #E8B130 !important;
}

/*I determined how to customize the navbar toggler using the following two websites:
    https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/
    and
    https://github.com/yui/yuicompressor/issues/274
*/
          
.custom-toggler .navbar-toggler {
    position: relative;
}

#menu-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 0;
    padding: 0;
    color: #003049 !important;
    background-color: white;
}

#menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 5vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    background-color: white; 
    padding: 0;
    width: 100%;
    border: solid white 0.1em;
}

    .nav-item {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        color: #003049;
    }

        .nav-item a {
            color: #003049;
        }

        .nav-item a:hover {
            color: #E8B130;
        }

    .nav-link {
      color: white;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .navbar-collapse {
        z-index: 9;
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .navbar-collapse {
        z-index: 9;
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }   
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {
}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

    main {
        padding-top: 5vh;
        background-color: #003049;
    }

        .experience {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

            .experience * {
                color: #FFFFFF;
                line-height: 1.6em;
            }

            .e-about {
                margin: 3vh 0 3vh 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-content: center;
            }

                .e-titles {
                    font-size: 2em;
                    color: #DAA520;
                }

                .e-co {
                    font-size: 1.2em;
                    color: #FFFFFF;
                }

                .e-time {
                    font-size: 1.1em;
                    color: #FFFFFF;
                }
              
                    .e-time i {
                        font-size: 1.1em;
                        color: #FFFFFF;
                    }

                .e-location {
                    font-size: 1.1em;
                    color: #FFFFFF;
                }

                .e-about ul {
                    font-size: 1.1em;
                }

                .e-about ul li {
                    margin: 2vh 0 2vh 0;
                }

        .image_and_link {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            margin: 3vh 0 3vh 0;
        }

        #unc {
            border-radius: 0;
        }

        #ths {
            border-radius: 0;
        }

        #cssc_pic {
            background-color: white;
            border-radius: 5%;
        }

        #kinesin {
            height: 30vh;
        }

        img {
            border-radius: 6%;
        }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
    .e-about ul {
        font-size: 1.1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .e-about ul li {
        margin: 1vh 0 1vh 0;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    /*-------Experience----------------*/
    
                .experience * {
                    line-height: 1.6em;
                }
    
                    .e-titles {
                        font-size: 2rem;
                        line-height: 2.5em;
                    }
    
                    .e-co {
                        font-size: 1.3rem;
                    }
    
                    .e-time {
                        font-size: 1.3rem;
                    }
                  
                        .e-time i {
                            font-size: 1.3rem;
                        }
    
                    .e-location {
                        font-size: 1.3rem;
                    }
    
        #kinesin {
            height: 50vh;
        }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

}