/* Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/  
/*anything under col-*/

.buttons {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.btn {
    margin-top: 3vh;
    height: 3rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.btn:link {
    background-color: #313638;
    color: #DAA520;
    border: 1px solid white;
}

.btn:visited {
    background-color: #313638;
    color: #DAA520;
    border: 1px solid white;
}

.btn:hover {
    background-color: white;
    color: #DAA520;
    border: 1px solid white;
}

.btn:active {
    background-color: #313638;
    color: #DAA520;
    border: 1px solid white;
}

@media screen {

    body {
        background-color: #313638;
    }

    *:not(header, body, html) {
        display: none;
    }

}

@media print {
    header {
        display: none !important;
    }

    /*-----Everything-------*/

    html {
        font-family: 'EB Garamond', serif;
        color: black;
    }

    body {
        cursor: default;
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10 */
        /* Currently not supported in Opera but will be soon */
        -o-user-select: none;
        user-select: none;
        text-decoration: none;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .divider {
        height: 1px;
        background-color: lightgray !important;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .section-titles {
        font-size: 18pt;
        padding: 2vh 0 2vh 0;
    }

    #print-button {
        display: none;
    }

    .group {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
    }

    /*-------Header----------------*/

    .header-content {
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        align-items: center;
        text-decoration: none;
    }

        .header-content * {
            color: black;
            line-height: 1em;
        }

        .header-content h1 {
            font-size: 20pt;
            padding-bottom: 4pt;
        }

        #email {
            color: gray;
            text-decoration: none;
        }

        #location {
            color: gray;
            text-decoration: none;
        }

        #phone {
            color: gray;
            text-decoration: none;
        }

        /*-------Experience----------------*/

        .experience {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            border-top: 2px solid gray;
            padding-top: 1em;
            padding-bottom: 1em;
        }

            .experience * {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                color: black;
                line-height: 1.1em;
            }

            .e-about {
                margin: 0.25vh 0 0.25vh 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
            }

                .e-titles {
                    font-size: 14pt;
                }

                .e-co {
                    font-size: 12pt;
                    color: gray;
                }

                .e-time {
                    color: gray;
                }

                .e-location {
                    color: gray;
                    padding-bottom: 0.5vh;
                }

                .e-about ul {
                    padding: 0 0 0 2vw;
                }

        .skills p {
            line-height: 1.1em;
            font-size: 12pt;
        }

        .btn {
            height: 2em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            margin: 3vh 0 0 0;
            font-weight: 500;
            border-radius: 15px;
            border: none;
        }

        .skills {
            border-bottom: 2px solid gray;
            padding-bottom: 1em;
        }

        .certs {
            border-top: 2px solid gray;
            padding-top: 1em;
        }

        .act-border {
            padding-bottom: 1em;
        }

    }