/*WORKFLOW ?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
    1. BIG IDEA CONCEPT
    2. AUDIENCE TO TARGET
    3. RESEARCH
    4. UI DESIGN IDEAS
        > COLOR PALETTE & TYPOGRAPHY
            #003049 #E8B130 #FFFFFF
            > COLOR BLINDNESS
        > MOBILE-FIRST DESIGN
    5. DESIGN PROCESS
        A. GENERAL SETTINGS
            a. MOBILE -> ENORMOUS
        B. HEADER
            a. MOBILE -> ENORMOUS
        C. FOOTER
            a. MOBILE -> ENORMOUS
        D. MAIN
            a. MOBILE -> ENORMOUS
    6. SHOW PEOPLE. TAKE NOTES.
    7. IMPLEMENT WHAT YOU LEARNED
    8. ADD NEW IDEAS
?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

    body {    
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10 */
        /* Currently not supported in Opera but will be soon */
        -o-user-select: none;
        user-select: none;
        font-family: 'EB Garamond', serif;
    }

    * {
        cursor: default;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

    .buttons {
        height: 100vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .btn {
        margin-top: 3vh;
        height: 3rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .btn:link {
        background-color: #003049;
        color: white;
        border: 1px solid white;
    }

    .btn:visited {
        background-color: #003049;
        color: white;
        border: 1px solid white;
    }

    .btn:hover {
        background-color: white;
        color: #DAA520;
        border: 1px solid white;
    }

    .btn:active {
        background-color: #003049;
        color: white;
        border: 1px solid white;
    }

    header p {
        color: white;
        text-align: center;
        font-style: italic;
        font-size: 1em;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    .btn:link {
        background-color: #003049;
        color: white;
        border: 1px solid white;
    }

    .btn:visited {
        background-color: #003049;
        color: white;
        border: 1px solid white;
    }

    .btn:hover {
        background-color: #003049;
        color: #DAA520;
        border: 1px solid #DAA520;
    }

    .btn:active {
        background-color: #003049;
        color: white;
        border: 1px solid white;
    }
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*====================================================== SOCIAL MEDIA AND CONTACT =======================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

    @media screen {

        body {
            background-color: #003049;
        }

        *:not(header, header p, body, html) {
            display: none;
        }

    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
/*---------------------- PRINTING -------------------------------*/
@media print {

    #extra_margin {
        margin-top: 2em;
    }

    header {
        display: none !important;
    }

    /*-----Everything-------*/

    html {
        font-family: 'EB Garamond', serif;
        color: black;
    }

    body {
        cursor: default;
        text-decoration: none;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .divider {
        height: 1px;
        background-color: #8e8e8e !important;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .section-titles {
        font-size: 18pt;
        padding: 2vh 0 2vh 0;
    }

    #print-button {
        display: none;
    }

    .group {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
    }

    /*-------Header----------------*/

    .header-content {
        display: flex;
        flex-flow: row wrap;
        justify-items: center;
        align-items: center;
        text-decoration: none;
    }

        .header-content * {
            color: black;
            line-height: 1em;
        }

        .header-content h1 {
            font-size: 20pt;
            padding-bottom: 4pt;
        }

        #email {
            color: #2f2f2f;
            text-decoration: none;
        }

        #location {
            color: #2f2f2f;
            text-decoration: none;
        }

        #phone {
            color: #2f2f2f;
            text-decoration: none;
        }

        #website_banner {
            text-decoration: none;
            margin-bottom: 1em;
            margin-top: 1em;
        }

        #website_banner span {
            color: blue;
        }

        /*-------Experience----------------*/

        .experience {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-content: space-between;
            border-top: 2px solid #8e8e8e;
            padding-top: 1em;
            padding-bottom: 1em;
        }

            .experience * {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                color: black;
                line-height: 1.5em;
            }

            .e-about {
                margin: 0.25vh 0 0.25vh 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .e-titles {
                    font-size: 14pt;
                }

                .e-co {
                    font-size: 12pt;
                    color: #2f2f2f;
                }

                .e-time {
                    color: #2f2f2f;
                    text-align: start;
                }

                .e-location {
                    color: #2f2f2f;
                    padding-bottom: 0.5vh;
                }

                .e-about ul {
                    padding: 0 0 0 2vw;
                }

        .skills p {
            line-height: 1.1em;
            font-size: 12pt;
        }

        .btn {
            height: 2em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            margin: 3vh 0 0 0;
            font-weight: 500;
            border-radius: 15px;
            border: none;
        }

        .skills {
            border-bottom: 2px solid #8e8e8e;
            padding-bottom: 1em;
        }

        .certs {
            border-top: 2px solid #8e8e8e;
            padding-top: 1em;
        }

        .act-border {
            padding-bottom: 1em;
        }


}