/* Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/  
html {
    display: flex;
    justify-content: center;
    max-height: 11in;
    font-size: 11pt;
}

.container {
    background-color: white;
    max-width: 8.5in;
}

html body {
    background-color: white;
}

html section {
    border-top: solid black 0.5px;
    padding-top: 11pt;
}

html h1 {
    font-weight:bold;
    font-size: 1.8em;
}

html h2 {
    font-style: italic;
    font-size: 1.2em;
}

html h3{
    font-size: 1.1em;
}

.contact_information {
    border-top: hidden !important;
}

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}