/*Fix the navbar. You need it to collapse when you click it again*/


/*extra small screens*/

    body {    
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10 */
        /* Currently not supported in Opera but will be soon */
        -o-user-select: none;
        user-select: none;
        font-family: 'EB Garamond', serif;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #313638;
        color: white;
        font-size: 1em;
    }
    
    #other {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        height: 92vh;
    }

    .box {        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

        .box p {
            margin-bottom: 0 !important;
        }

    nav {
        z-index: 11;
        min-height: 8vh;
        background-color: white;
    }
    
    nav ul {
        background-color: #FFFFFF;
    }

    .active a:link {
        color: #DAA520;
    }

    .active a:visited {
        color: #DAA520;
    }

    .active a:hover {
        color: #DAA520;
    }

    .active a:active {
        color: #DAA520;
    }
    
    .custom-toggler .navbar-toggler {
        border-color: rgb(49, 54, 56);
    }
    
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(49, 54, 56, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
        .nav-item {
          text-align: center;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
        }
    
            .nav-item a {
                font-weight: 500;
                color: #313638;
            }
    
            .nav-item a:hover {
                color: #DAA520;
            }
    
        .nav-link {
          font-size: 1.2rem;
          color: #313638;
        }
    
    #headshot {
        padding: 0 0 0 0;
        margin: 0 0 5vh 0;
        background-image: linear-gradient(to bottom right,white, #546E85);
        width: 100%;
    }
    
/*small screens*/
@media screen and (min-width: 576px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }
    
    #other {
        height: 92vh;
    }
    
    nav {
        z-index: 11;
        min-height: 8vh;
        background-color: white;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
        .nav-link {
          font-size: 1.2rem;
        }

        .img_container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }

        #headshot {
            display: block;
            max-width: 100%;
            max-height: 60vh;
            width: auto;
            height: auto;
        }
    
}

/*medium screens*/
@media screen and (min-width: 768px) {
    header {
        font-size: 1em;
    }
    
    #other {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
        .nav-link {
          font-size: 0.9rem;
        }
    
}

/*large screens*/
@media screen and (min-width: 992px) {
    header {
        font-size: 1.05em;
    }
    
        .nav-link {
          font-size: 1em;
        }    
}

/*extra large screens*/
@media screen and (min-width: 1200px) {
    header {
        font-size: 1.2em;
    }
    
        .nav-link {
          font-size: 1em;
        }
    
}

/*extra extra large screens*/
@media screen and (min-width: 1400px) {
    header {
        font-size: 1.3em;
    }
    
        .nav-link {
          font-size: 1.2rem;
        }
}