/* Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/  
/*anything under col-*/

    /*-----Everything-------*/

    html {
        font-family: 'EB Garamond', serif;
        color: black;
    }

    body {
        cursor:default;
        -webkit-user-select: none; /* Webkit */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE 10 */
        /* Currently not supported in Opera but will be soon */
        -o-user-select: none;
        user-select: none;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .divider {
        height: 1px;
        width: 100vw;
        background-color: lightgray !important;
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .section-titles {
        font-size: 18pt;
        padding: 2vh 0 2vh 0;
    }

    /*-------Header----------------*/

    .header-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 0 3vw 0 3vw;
    }

        .header-content * {
            padding: 0 0 0 0;
            margin: 0 0 0 0;
            color: black;
            line-height: 1.6em;
        }

        .header-content h1 {
            font-size: 20pt;
            margin: 2vh 0 2vh 0;
        }

        #goal {
            margin: 1vh 0 1vh 0;
        }

        #email {
            color: gray;
        }

        #location {
            color: gray;
        }

        #phone {
            color: gray;
        }

        .btn {
            height: 2em;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            margin: 3vh 0 0 0;
            font-weight: 500;
            border-radius: 15px;
            border: none;
        }

        .btn:link {
            background-color: #4B9CD3;
            color: white;
        }

        .btn:visited {
            background-color: #4B9CD3;
            color: white;
            border: none;
        }

        .btn:hover {
            background-color: #13294B;
            color: white;
        }

        .btn:active {
            background-color: #4B9CD3;
            color: white;
        }

        /*-------Experience----------------*/

        .experience {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding: 0 3vw 0 3vw;
        }

            .experience * {
                padding: 0 0 0 0;
                margin: 0 0 0 0;
                color: black;
                line-height: 1.6em;
            }

            .e-about {
                padding: 0 3vw 0 3vw;
                margin: 2vh 0 2vh 0;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
            }

                .e-titles {
                    font-size: 14pt;
                }

                .e-co {
                    font-size: 12pt;
                    color: gray;
                }

                .e-time {
                    color: gray;
                }

                .e-location {
                    color: gray;
                }

                .e-about ul {
                    padding: 0 0 0 5vw;
                    margin: 1vh 0 1vh 0;
                }