/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ GENERAL SETTINGS \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

body {    
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    font-family: 'EB Garamond', serif;
    background-color: #67AAF9;
}
     
.btn {
    height: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    border-radius: 0;
    border: none;
    font-size: 1.1em;
}

.btn:link, .btn:visited, .btn:hover, .btn:active {
    background-color: white;
    color: black;
    border: none;
}

/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    html::-webkit-scrollbar {
        width: 1em;
        background: white;
    }
    
    html::-webkit-scrollbar-button {
        display: none;
    }
    
    html::-webkit-scrollbar-thumb {
        background:#E8B130;
        border-radius: 5px;
    }
    
    html::-webkit-scrollbar-track {
        background: white;
    }
        
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ HEADER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*====================================================== MAIN CONTENT ===================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #67AAF9;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 1em;
}

/*====================================================== NAVIGATION PANE ================================================================*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    
        .navbar {
            position: relative;
            color: white;
            margin: 0;
            padding: 0;
            z-index: 9;
        }
        
        .navbar-collapse {
            margin-left: 0;
            background-color: white;
            margin: 0;
            padding: 0;
            position: absolute;
            top: 5vh;
        }
        
        .active a { 
            color: #E8B130 !important;
        }
                  
        .custom-toggler .navbar-toggler {
            position: relative;
        }
    
        #menu-button-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            position: relative;
            margin: 0;
            padding: 0;
            color: #67AAF9 !important;
            background-color: white;
        }
        
        #menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-content: center;
            height: 5vh;
            text-align: center;
            margin: 0;
            padding: 0;
            cursor:pointer;
        }
    
        .navbar-nav {
            background-color: #494850;
            padding: 0;
            width: 100%;
            border: solid white 0.1em;
        }
        
            .nav-item {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                color: #003049;
            }
        
                .nav-item a {
                    color: white;
                    height: 10vh;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-content: center;
                    font-size: 1.5em;
                }
        
                .nav-item a:hover {
                    color: #E8B130;
                }
        
            .nav-link {
              color: white;
            }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    .nav-item a {
        height: initial;
        display: initial;
        flex-flow: initial;
        justify-content: initial;
        align-content: initial;
    }
    
    .navbar-nav {
        display: flex; 
        flex-flow: row wrap;
        justify-content: center;
    }
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    
    .navbar-collapse {
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }

    .navbar-nav {
        background-color: #494850;
        height: 4em;
        border-bottom: solid #e8b130 0.1em;
    }
    
        .nav-item {
            max-width: 18ch;
        }

            .nav-item a {
                font-size: 1em;
            }
}

/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    #menu-button-container {
        display: none;
    }

    .navbar-nav {
        border-left: none;
        border-right: none;
        border-top: none;
    }
    
    .navbar-collapse {
        z-index: 9;
        margin: 0;
        padding: 0;
        position: relative;
        top: initial;
    }   
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ MAIN \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    main {
        padding-top: 3em;
        color: white;
        height: 56em;
        max-height: 90vh;
    }
    
    #content {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

    .signature_title {        
        min-height: 25vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
    }

        .box p {
            margin-bottom: 0 !important;
        }
    
    .headshot_box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        height: 30vh;
    }

        #headshot {
            border-radius: 2%;
            background-color:white;
            height: 100%;
        }

    #title {
        letter-spacing: 0.3em;
    }

    #updated {
        letter-spacing: 0.1em;
        color: hsla(255, 100%, 100%, 0.3);
    }


/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
    .headshot_box {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        height: 50vh;
    }
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {

    #headshot {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {

    #headshot {
        width: initial;
        height: 100%;
        object-fit: contain;
    }
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ OTHER \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*[START] ------ EXTRA SMALL SCREENS (COL-) ---------------------*/
    #signature_stephen, #title {
    animation-name: signature_stephen;
    animation-duration: 4s;
    }
    
    @keyframes signature_stephen {
    from {opacity: 0}
    to {opacity: 1}
    }

    html::-webkit-scrollbar {
        display: none;
    }
    
    html::-webkit-scrollbar-button {
        display: none;
    }
    
    html::-webkit-scrollbar-thumb {
        display: none;
    }
    
    html::-webkit-scrollbar-track {
        display: none;
    }

/*------------- SMALL SCREENS (COL-SM-) ------------------------*/
@media screen and (min-width: 576px) {
    
}
/*------------- MEDIUM SCREENS (COL-MD-) -----------------------*/
@media screen and (min-width: 768px) {
        
}
/*------------- LARGE SCREENS (COL-LG-) ------------------------*/
@media screen and (min-width: 992px) {
    
}
/*------------- EXTRA LARGE SCREENS (COL-XL-) ------------------*/
@media screen and (min-width: 1200px) {
    
}
/*[END] -------- ENORMOUS SCREENS (COL-XL-) ----------------------*/
@media screen and (min-width: 1400px) {

}
